{% extends "adsb_base.j2" %}

{% set active_item = 'Home' %}

{% block service_cards %}
    <div class="adsb-services-content">
        <div class="adsb-services-section-title">ADSB data services</div>
        <div class="adsb-services-border"></div>
        <div class="adsb-services-container">

            <div class="adsb-service-box" onclick="window.location.href='/flights'">
                <div class="service-icon">
                    <i class="fas fa-plane"></i>
                </div>
                <div class="adsb-services-title">Live Flights Data</div>
                <div class="adsb-services-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>

            <div class="adsb-service-box" onclick="window.location.href='http://www.google.com'">
                <div class="service-icon">
                    <i class="fas fa-globe-africa"></i>
                </div>
                <div class="adsb-services-title">Flights on Map</div>
                <div class="adsb-services-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>

            <div class="adsb-service-box">
                <div class="service-icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="adsb-services-title">Search Flights</div>
                <div class="adsb-services-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>

            <div class="adsb-service-box">
                <div class="service-icon">
                    <i class="fas fa-tools"></i>
                </div>
                <div class="adsb-services-title">ADSB API</div>
                <div class="adsb-services-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>

            <div class="adsb-service-box">
                <div class="service-icon">
                    <i class="fas fa-location-arrow"></i>
                </div>
                <div class="adsb-services-title">Flights</div>
                <div class="adsb-services-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>

            <div class="adsb-service-box">
                <div class="service-icon">
                    <i class="fas fa-tools"></i>
                </div>
                <div class="adsb-services-title">Flights</div>
                <div class="adsb-services-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>

        </div>
    </div>
{% endblock %}