{% extends "adsb_base.j2" %}

{% set active_item = 'Flights' %}

{% block flights_table %}

    <div class="paginate-shelve">

        <div class="paginate-card">
            {% if active_page == 1 %}
                <a href="{{ url_for('flights', page = active_page) }}"> < </a>
            {% else %}
                <a href="{{ url_for('flights', page = active_page - 1) }}"> < </a>
            {% endif %}
        </div>

        {% for page in pages %}

            <div class="paginate-card {% if page == active_page %} {{ 'active-card' }} {% endif %}">
                <a href="{{ url_for('flights', page = page) }}"> {{ page }} </a>
            </div>

        {% endfor %}

        <div class="paginate-card">
            <a href="{{ url_for('flights', page = active_page + 1) }}"> > </a>
        </div>


    </div>

    <div class="flight-card title">
        <p class="icao24">ICAO</p>
        <p class="callsign">Callsign</p>

        <p class="time-position">Last seen</p>
        <!-- <p class="last-contact">157086307</p> -->
        <p class="longitude">Longitude</p>
        <p class="latitude">Latitude</p>
        <p class="baro-altitude">Altitude</p>
        <p class="on-ground">onground</p>
        <p class="velocity">275.82</p>
        <p class="true-track">276.93</p>
        <p class="vertical-rate">-11.38</p>
        <p class="country">Origin country</p>
    </div>

    <div class="content">

        {% for Id, icao24, callsign, origin_country, time_position, last_contact, longitude, latitude, baro_altitude, on_ground, velocity, true_track, vertical_rate in flight_states %}
            <div class="flight-card">
                <!--<p style="width:5%">{{Id}}</p>-->
                <p class="icao24">{{ icao24 }}</p>
                <p class="callsign">{{ callsign }}</p>

                <p class="time-position">{{ time_position }}</p>
                <!-- <p class="last-contact">{{last_contact}}</p> -->
                <p class="longitude">{{ longitude }}</p>
                <p class="latitude">{{ latitude }}</p>
                <p class="baro-altitude">{{ baro_altitude }}</p>
                <p class="on-ground">{{ on_ground }}</p>
                <p class="velocity">{{ velocity }}</p>
                <p class="true-track">{{ true_track }}</p>
                <p class="vertical-rate">{{ vertical_rate }}</p>
                <p class="country">{{ origin_country }}</p>
            </div>
        {% endfor %}


    </div>

{% endblock %}