<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADSB DATA</title>
  <link rel="stylesheet" type="text/css" href="./style_adsb.css">
</head>

<body>
  <div class="main-container">

    <div class="dropdown-menu">

      <div class="logo">
        <h4>ADSB:DATA></h4>
      </div>

      <div class="flights">
        <button type="button" name="button" class="active">Flights</button>
        <ul>
          <li><a href="https://www.google.com">First item</a></li>
          <li><a href="#">Second item</a></li>
          <li><a href="#">Third item</a></li>
        </ul>
      </div>

      <div class="map">
        <button type="button" name="button">Map</button>
      </div>

      <div class="api">
        <button type="button" name="button">API</button>
      </div>

    </div>



    <div class="content">
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>
      <div class="flight-card">
        <p>icao24</p>
        <p>callsign</p>
        <p>origin_country</p>
        <p>time_position</p>
        <p>last_contact</p>
      </div>

    </div>

  </div>
</body>
