{% extends "adsb_bootstrap.html.j2" %}
{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Testing</h1>
  <hr class="my-4">
  {% for Id, icao24, callsign, origin_country, time_position, last_contact in range_ %}
    <p>Test {{ Id }} {{icao24}} {{callsign, origin_country }}</p>
  {% endfor %}
</div>
{% endblock %}
{{}}
