<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{{ url_for('static', filename = 'ue_ajax.js') }}"></script>

</head>

<body>
<form id="inputURLform" class="form-inline" action="javascript:void(0);" method="post">
    <div class="form-group">
        <label for="url">URL: </label>
        <input id="url" type="url" class="form-control" name="url" size="100"
               required data-bv-notempty-message="The URL is required"
               data-bv-uri-message="The website address is not valid">
    </div>
    <button id="ajax-button" type="submit" class="btn btn-default">Submit</button>
</form>


<script>
    $('#inputURLform').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        //excluded: ':disabled',
        //ignore: [],
    });

</script>

<script>


    function getTaskResult(status_url) {
        $.getJSON(status_url, function (data) {
            console.log(data)
            if (data.task_state != 'PENDING') {
                console.log('Task state ===>', data.task_state);
                console.log('Task state ===>', data.result_url);
                $.getJSON(data.result_url, function (data) {
                    console.log(data)
                });


            } else {

                console.log('Task state ===>', data.task_state)
                console.log('Task state ===>', data.task_id);
                setTimeout(function () {
                    getTaskResult(status_url);
                }, 1000);
                //setTimeout(getTaskResult(status_url), 1000);

            }

        });

    };

    function startTask(url) {


        $.ajax({
            type: 'POST',
            url: '/start',
            data: {'url': url},
            success: function (result, status, xhr) {
                status_url = xhr.getResponseHeader('Location');

                getTaskResult(status_url);


            },
            error: function () {
                alert('Unexpected error');
            }
        });

    };


    $('#ajax-button').click(function () {

        //event.preventDefault();
        startTask($('#url').val());

    });

</script>
</body>
</html>