<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator.min.js"></script>
    <!--<script src="{{ url_for('static', filename = 'ue_ajax.js') }}"></script>-->
</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">JWT BLOG</a>
            </div>

            <ul class="nav navbar-nav">

                <li><a href="#aboutModal" data-toggle="modal">About</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="#aboutModal" data-toggle="modal">About</a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </nav>

    <div>
        <h1>{{ name }} </h1>
    </div>

    {% block signup_form %}{% endblock %}


    <div class="modal fade" id="aboutModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Author</h4>
                </div>
                <div class="modal-body">
                    <p>Taras Mazurak</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <p>© 2020 Taras Mazurak</p>
    </footer>

</div>

</body>
